.more-screen .icon-row {
  margin-top: 25px;
}
.more-suggestions {
  margin-top: 40px;
  border-top: var(--main-border);
  font-size: 12px;
  font-weight: 600;
}

.more-suggestions__title {
  padding: 25px 0;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
}

.more-suggestions__icon-image {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-suggestions__icon-image i {
  font-size: 28px;
}

.more-suggestions__icon-text {
  margin-top: 5px;
  color: var(--font-color);
}
