.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.icon-row__icon i {
  font-size: 25px;
}

.icon-row__icon span {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 5px 25px;
}

.reply i {
  opacity: 0.5;
}

.reply__column:first-child {
  width:10%
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -2px;
  top: 3.5px;
}

.reply__column:last-child > i {
  top: 8px;
  right: 35px;
}

.reply input {
  padding: 6px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}